<h1><%= @user.name %></h1>

<ul>
    <% @shows.each do |s| %>
    <li><%= link_to s.concert.name, concert_path(s.concert)%></li>
    <% end %>
</ul>

<%= button_to "Add a new Show", new_user_concert_path, method: 'get' %>

<footer>
    <%= button_to  "Delete Account", user_path(@user), method: 'delete' %>
</footer>